body {
    width: 100%;
}

fieldset{
    display: flex;
    gap: 50px;
    width: fit-content;
    margin: 0;
    padding: 20px 50px;
    border: 0;
    background-color: white;
    border-radius: 0 0 10px 10px;
}

input[type="radio"]{
    margin: 0;
    padding: 0;
}

input[type="radio"]{
    appearance: none;
    width: 15px;
    height: 15px;
    outline: 3px solid var(--radio-color, currentColor);
    outline-offset: 3px;
    border-radius: 50%;
}

input[type="radio"]:checked{
    background-color: var(--radio-color);
}

#light{
    --radio-color: lightblue;
}

#dark{
    --radio-color: rgb(12, 0, 0);
}

:root:has(#light:checked){
    --clr-bomb-bg: red;
    --clr-body-bg: lightblue;
}

:root:has(#dark:checked){
    --clr-bomb-bg: red;
    --clr-body-bg: rgb(12, 0, 0);
    --clr-text: rgb(227, 209, 209);
}

h1{
    color: var(--clr-text, black);
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-body-bg);
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

li{
    position: relative;
    list-style: none;
    width: min(40px, 8vw);
    height: min(40px, 8vw);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 1px solid gray;
    box-sizing: border-box;
}

.neutral{
    background-color: lightgrey;
}

.board-container{
    margin: 5vh 0;
}

.board {
    padding: 0;
}

li[displaynone='']::before{
    content: '';
    background-color: rgb(80, 80, 80);
    position: absolute;
    width: 100%;
    height: 100%;
}

li:not(.open){
    cursor: pointer;
}

li.signal[displaynone='']::before{
    content: '';
    background-image: url('/assets/flag-icon.svg');
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }